@using ConduitLLM.WebUI.DTOs
@rendermode InteractiveServer

<button type="button" @onclick="OnButtonClick" class="btn btn-link">
    <i class="fa fa-eye text-info me-1"></i>
    @Text
</button>

@code {
    [Parameter]
    public int LogId { get; set; }
    
    [Parameter]
    public string Text { get; set; } = "View";
    
    [Parameter]
    public EventCallback<int> OnViewById { get; set; }
    
    private async Task OnButtonClick()
    {
        await OnViewById.InvokeAsync(LogId);
    }
}