@using ConduitLLM.WebUI.DTOs
@using System.ComponentModel.DataAnnotations
@rendermode InteractiveServer

<button type="button" class="btn btn-sm btn-icon text-info" @onclick="ButtonClicked">
    <i class="fa fa-eye"></i>
</button>

@code {
    [Parameter, Required]
    public RequestLogDto Log { get; set; } = default!;

    [Parameter] 
    public Action<RequestLogDto>? OnViewLog { get; set; }

    private void ButtonClicked()
    {
        OnViewLog?.Invoke(Log);
    }
}