<div class="custom-tooltip">
    @if (ChildContent != null)
    {
        @ChildContent
    }
    else
    {
        <i class="fa fa-question-circle text-secondary"></i>
    }
    <div class="tooltip-text @Position">@Text</div>
</div>

<style>
    .custom-tooltip {
        position: relative;
        display: inline-block;
        cursor: help;
    }

    .tooltip-text {
        visibility: hidden;
        width: 200px;
        background-color: #333;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 8px;
        position: absolute;
        z-index: 1;
        opacity: 0;
        transition: opacity 0.3s;
        font-size: 0.8rem;
        line-height: 1.4;
    }

    /* Position the tooltip */
    .tooltip-text.top {
        bottom: 125%;
        left: 50%;
        transform: translateX(-50%);
    }

    .tooltip-text.bottom {
        top: 125%;
        left: 50%;
        transform: translateX(-50%);
    }

    .tooltip-text.left {
        top: 50%;
        right: 125%;
        transform: translateY(-50%);
    }

    .tooltip-text.right {
        top: 50%;
        left: 125%;
        transform: translateY(-50%);
    }

    /* Add arrows */
    .tooltip-text.top::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #333 transparent transparent transparent;
    }

    .tooltip-text.bottom::after {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent #333 transparent;
    }

    .tooltip-text.left::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 100%;
        margin-top: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent transparent #333;
    }

    .tooltip-text.right::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 100%;
        margin-top: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent #333 transparent transparent;
    }

    /* Show the tooltip on hover */
    .custom-tooltip:hover .tooltip-text {
        visibility: visible;
        opacity: 1;
    }
</style>

@code {
    [Parameter]
    public string Text { get; set; } = "";

    [Parameter]
    public string Position { get; set; } = "top";
    
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
