@page "/access-denied"
@inject NavigationManager NavigationManager

<PageTitle>Access Denied - ConduitLLM</PageTitle>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <div class="card rounded">
                <div class="card-header bg-danger text-white">
                    <h5 class="mb-0">Access Denied</h5>
                </div>
                <div class="card-body d-flex flex-column align-items-center p-5">
                    <i class="fa fa-lock text-danger mb-4" style="font-size: 4rem;"></i>
                    <h5 class="text-center mb-4">You do not have permission to view this resource</h5>
                    <p class="text-center mb-5">
                        You need to be authenticated with the appropriate credentials to access this page.
                    </p>
                    <div class="d-flex flex-column" style="max-width: 300px; width: 100%;">
                        <button class="btn btn-primary mb-2 w-100" @onclick="NavigateToLogin">Go to Login</button>
                        <button class="btn btn-outline-secondary w-100" @onclick="NavigateToHome">Return to Home</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private void NavigateToLogin()
    {
        NavigationManager.NavigateTo("/login");
    }

    private void NavigateToHome()
    {
        NavigationManager.NavigateTo("/");
    }
}
